<div class="all-events host">
  <div class="event-item">
    <h1>Hosted Events</h1>
    <ul class = "event-list">
      <% @hosted_events.each do |event| %>
        <li>
          <p>Event: <span> <%= event.name %> </span></p>
          <p>Location: <span> <%= event.location %> </span></p>
          <p>Date: <span> <%= event.date %> </span></p>
          <div class="arrow other-options">
              <%= link_to event_path(event), method: :delete, data: {confirm: "Are you sure?"} do %>
              <p><i class="fas fa-trash-alt"></i></p>
              <% end %>
              <%= link_to edit_event_path(event) do %>
              <p> <i class="fas fa-pen"></i></p>
              <% end %>

              <%= link_to event_path(event) do %>
              <p ><span>Details</span> <i class="fas fa-caret-right"></i></p>
              <% end %>
          </div>


        </li>
      <% end %>
    </ul>
  </div>
  </div>
