<div class="form-wrap">

  <h1>Sign up</h1>


  <%= form_with model: @user, local: true, class: "form" do |u|%>
    <% if @user.errors.any? %>
      <div class="errors">
        <% @user.errors.full_messages.each do |error| %>
         <p> <%= error %></p>
        <% end %>
      </div>
    <% end %>
    <div class="field">
      <%= u.label :name %>
      <%= u.text_field :name %>
    </div>
    <div class="field">
      <%= u.label :email %>
      <%= u.text_field :email %>
    </div>
    <div class="field">
      <%= u.submit "Create account", class: "submit" %>
    </div>

  <% end %>
</div>
