<% if user_logged_in? %>
<div class="user-info">
  <div class="info">
    <div class="user-name">
      <%= current_user.name %>
    </div>
    <div class="user-email">
      <%= current_user.email %>
    </div>

  </div>
</div>
<% end %>

<div class="host">
  <% if current_user.events.any? %>
    <ul class = "event-list">
      <% current_user.events.each do |event| %>
        <li class = "event">
          <p class = "event-field"><span>Event name: </span> <%= event.name %> </p>
          <p class = "event-field"><span>Event location: </span> <%= event.location %> </p>
          <p class = "event-field"><span>Event date: </span> <%= event.date %> </p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% if current_user.attended_events.any? %>
<div class="attending">
  <h3>Attending events</h3>
  <ul>
    <% current_user.attended_events.each do |atevent|%>
    <li> <%= link_to atevent.name,  event_path(atevent)%> </li>
    <% end %>
  </ul>
</div>

<% end %>
