  <%= form_for @event, class: "form" do |e| %>
    <%= display_errors_partial(@event) %>

    <div class="field">
      <%= e.label :name %>
      <%= e.text_field :name, class: "input" %>
    </div>
    <div class="field">
      <%= e.label :description %>
      <%= e.text_area :description, class: "input no-resize" %>
    </div>
    <div class="field">
      <%= e.label :location %>
      <%= e.text_field :location, class: "input "%>
    </div>
    <div class="field">
      <%= e.label :date %>
      <%= e.date_field :date, class: "input" %>
    </div>
    <div class="field">
      <%= e.submit "Create event", class: "submit" %>
    </div>
  <% end %>
