  <% if @events.any? %>
    <div class="all-events">
        <% if Event.upcomming.any? %>
          <div class="event-item">
            <h1>Upcomming Events</h1>

            <ul class="event-index">
              <% @upcomming_events.each do |event| %>
                <li>
                  <p>Event: <span> <%= event.name %> </span></p>
                  <p>Date: <span> <%= event.date%> </span></p>
                  <%= link_to event_path(event) do %>
                  <p class="arrow"><span>Details</span> <i class="fas fa-caret-right"></i></p>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if Event.past.any? %>
          <div class="event-item">

            <h1>Past Events</h1>
            <ul class="event-index">
              <% @prev_events.each do |event| %>
              <li>
                <p>Event: <span> <%= event.name %> </span></p>
                <p>Date: <span> <%= event.date%> </span></p>
                <%= link_to event_path(event) do %>
                <p class="arrow"><span>Details</span> <i class="fas fa-caret-right"></i></p>
                <% end %>
              </li>
              <% end %>
            </ul>

          </div>
        <% end %>
      </div>

<% end %>
