
<div class="all-events">
  <% if user_logged_in? %>
  <div class="back">
    <%= link_to user_path(current_user) do %>
      <p><i class="fas fa-arrow-left"></i></p>
    <% end %>
  </div>
  <% end %>

  <div class="event-item">
    <h1>
    <%= @event.name %>
    </h1>

    <ul class="event-details">
      <li>
        <p><span>Location: </span> <%= @event.location %></p>
        <p><span>date: </span> <%= @event.date %> </p>
        <p><span>host: </span> <%= @event.creator.name %> </p>
      </li>
    </ul>
  </div>

  <% if @event.attendees.any? %>
  <div class="event-item">
   <h2 class="attendee-title">Attendee list</h2>
    <ul class="attendee-list">
      <% @event.attendees.each do |attendee|%>

      <li class="attendee"> <%= attendee.name %> </li>

      <% end %>

    </ul>

  </div>
  <% end %>

</div>

<div class="Invitations">

  <% if @event.creator == current_user %>

  <%= render "invitations/new", :locals => {:item => @event} %>

  <% end %>

</div>
