
<div class="all-events">
  <div class="event-item">
    <h1>
    <%= @event.name %>
    </h1>

    <ul class="event-details">
      <li>
        <p><span>Location: </span> <%= @event.location %></p>
        <p><span>date: </span> <%= @event.date %> </p>
        <p><span>host: </span> <%= @event.creator.name %> </p>
      </li>
    </ul>
  </div>

  <% if @event.attendees.any? %>
  <div class="event-item">
   <h3>Attendee list</h3>
    <ul>
      <% @event.attendees.each do |attendee|%>

      <li> <%= attendee.name %> </li>

      <% end %>

    </ul>

  </div>
  <% end %>

</div>
