

<h2 class="event-title">
<%= @event.name %>
</h2>

<div class="event-details">
  <p><span>Location: </span> <%= @event.location %></p>
  <p><span>date: </span> <%= @event.date %> </p>
  <p><span>host: </span> <%= @event.creator.name %> </p>
</div>

<% if @event.attendees.any? %>
<div class="invited-list">
 <h3>Attendee list</h3>
  <ul>
    <% @event.attendees.each do |attendee|%>

    <li> <%= attendee.name %> </li>

    <% end %>

  </ul>

</div>
<% end %>
