<div class="flex">


<div class="all-events">
  <% if user_logged_in? %>
  <div class="back">
    <%= link_to user_path(current_user) do %>
      <p><i class="fas fa-arrow-left"></i></p>
    <% end %>
  </div>
  <% end %>

  <div class="event-item">
    <h1>
    <%= @event.name %>
    </h1>

    <ul class="event-details">
      <li>
        <p><span>Description: </span> <%= @event.description %></p>
        <p><span>Location: </span> <%= @event.location %></p>
        <p><span>date: </span> <%= @event.date %> </p>
        <p><span>host: </span> <%= @event.creator.name %> </p>
      </li>
    </ul>
  </div>

  <div class="event-item">

  <%= owner_invite %>

  </div>


</div>

<% if @event.attendees.any? %>
 <div class="event-item attendee-section">
  <h2 class="attendee-title">Attendee list</h2>

   <ul class="attendee-list">
     <% @event.attendees.each do |attendee|%>

     <li class="attendee"> <%= attendee.name %> </li>

     <% end %>

   </ul>

 </div>
 <% end %>
</div>
